body {
	background-color: #151515;
}
h1 {
	color: #f0f0f0;
	font-family: Ubuntu;
	filter: drop-shadow(0 0 0.25rem #ffffff);
}
p {
	color: #f0f0f0;
	font-family: Ubuntu;
}
.logo {
	max-height: 4vh;
	margin: 2vh 0 0 1vw;
}